@use "../var.scss";

.card {
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  &__title {
    padding: var(--padding);
    font-size: 18px;
    font-weight: bold;
    border-bottom:  var(--border);
  }

  &__content {
    padding: var(--padding);
    font-size: 14px;
    line-height: 1.5;
  }
}