:root {
  --text-color: #000;
  --background: #fff;
  --border-color: #ccc;
  --border: 1px solid var(--border-color);
  --border-radius: 4px;
  --font-size: 14px;
  --line-height: 14px;
  --padding: 18px;
  --margin-bottom: 12px;
}